@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Oleo+Script+Swash+Caps:wght@400;700&&family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:before, *:after {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
body {
    width: 100%;
    @apply bg-violet-100
}
body::-webkit-scrollbar {
	width: 0.6em;
}
body::-webkit-scrollbar-track{
	@apply bg-violet-300
}
body::-webkit-scrollbar-thumb{
	@apply bg-violet-700 rounded-full
}
.title {
    font-family: 'Pacifico', cursive;
}
.comment-section::-webkit-scrollbar {
	width: 0.4em;
}
.comment-section::-webkit-scrollbar-track{
	@apply bg-violet-300 rounded-full
}
.comment-section::-webkit-scrollbar-thumb{
	@apply bg-violet-700 rounded-full
}